html {
  box-sizing: border-box;
}
body {
  /* background-color: #e5e5e5; */
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  margin-left: 10rem;
  margin-right: 10rem;
}

.top {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
  align-items: center;
}
.info {
  display: flex;
  align-items: center;
}

.main {
  display: flex;
  margin-top: 25px;
  justify-content: space-between;
  align-items: center;
  /* margin-left: 15px; */
}
.intro {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.device {
  /* margin-left: 150px; */
  display: flex;
  justify-content: flex-end;
}

.device img {
  width: 70%;
}

.bottom {
  display: flex;
}
.first {
  font-size: 16px;
  background-color: #278fff;
}

.second {
  margin-left: 20px;
}

span {
  color: #278fff;
}
.btn {
  color: rgb(255, 255, 255);
  padding: 13px 21px;
  font-weight: bold;
  border: 2px solid #278fff;
  border-radius: 4px;
  outline: none;
  font-size: 12px;
}

.btn-small {
  padding: 7px 15px;
  font-weight: 100;
}

.btn-block {
  width: 100%;
}

.btn-outline {
  background-color: #ffffff;
  color: #278fff;
  border: 2px solid #278fff;
  font-weight: 100;
}

.btn-link {
  border: none;
  background-color: transparent;
  color: #4d4d4d;
}

.btn-primary {
  background-color: #278fff;
}

.info div {
  margin-right: 12px;
}

.info div:last-child {
  margin-right: 0px;
}

.hamburger {
  width: 16px;
  height: 16px;
  border: 1px solid #278fff;
  padding: 8px;
  display: none;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 3px;
}

.hamburger div {
  border: 1px solid #278fff;
  border-width: thin;
}

.info-mobile {
  display: none;
}

@media (max-width: 575.98px) {
  .info {
    display: none;
  }
  .container {
    margin-left: 10px;
    margin-right: 10px;
  }

  .device img {
    width: 100%;
    display: none;
  }

  .full-height {
    height: 100vh;
  }

  .info-mobile {
    display: none;
    flex-direction: column;
  }

  .info-mobile div {
    margin-bottom: 5px;
  }

  .info-mobile div:last-child {
    margin-bottom: 0;
  }

  .active {
    display: flex;
  }

  .hamburger {
    display: flex;
    margin-right: 20px;
  }
}
